{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-1 col-md-offset-1">
        <!-- status of login -->
        {% if VIP %}
            {% if VIP['vip'] == 'OK' %}
                <span class="glyphicon glyphicon-ok "></span>
            {% else %}
                <p>VIP STATUS: {{VIP['vip']}} </p>
            {% endif %}
        {% endif %}

        </div>
        <form action="/search/" method="get">
           <div class="col-md-8">
             <div class="form-group-lg">
                <input type="text" class="form-control " name="search" placeholder="Search webshare.cz"><br>
             </div>
           </div>

            <div class="col-md-2 form-group">
                <input type="submit" class="btn btn-default btn-lg" value="Search">
            </div>
        </form>
    </div>

    <!-- list of search + Download button -->
    {% if SEARCHED %}
    <div class="row well">
            {% for i in SEARCHED %}
            <div class="col-md-3">
               <table class="table">
                        <tr><td><img src="{{SEARCHED[i][2]}}"></td></tr>
                        <tr><td style="word-wrap: break-word; max-width: 150px;">{{SEARCHED[i][0]}}</td></th>
                        <tr><td>{{SEARCHED[i][1]}}</td></tr>
                        <tr><td><a class="btn btn-success" href="/download/{{i}}">Download</button></a> </td></tr>
               </table>
            </div>
           {% endfor %}
    </div>
    {% endif %}



    <div class="row">

        <!-- list of currently downloading files + stop button -->
        <div class="col-md-6">
            <table class="table">
                {% if DOWNLOADING %}
                <th><b>Downloading: </b></th>
                    {% for i in DOWNLOADING %}
                        <tr>
                            <td>{{i}}</td>
                            <td>{{DOWNLOADING[i][0] }} </td>
                            <td><a class="btn btn-danger" href="/stop/{{i}}">Stop</button></a> </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <!-- list of downloaded files + delete button -->
        <div class="col-md-6">
            <table class="table">
                {% if DOWNLOADED %}
                <th><b>Downloaded: </b><th>
                {% for i in DOWNLOADED %}
                    <tr>
                        <td>{{i}}</td>
                        <td><a class="btn btn-warning" href="/delete/{{i}}">Delete</button></a></td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}